@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* input fields */

input{
  height:40px;
  border:1px solid #ccc;
  padding-left:20px;
}


input:focus{
  outline:none;
  border:solid,rgb(23,28,52);
}


.outlined-btn{
  border:1px solid #4D426D;
  color:#4D426D;
  padding:5px 20px;
}


.contained-btn{
  background-color:#4D426D;
  color:white;
  padding:5px 20px;
  height:40px;

}
/* end of input fields */